
.img {
    background: linear-gradient(135deg, #ff0000, #ffff00);
    width: 600px;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    border-style: double;
    border-width: 7px;
    border-color: black;
    
}
.img img{
    display: block;
    margin: 0 auto; 
    opacity: 0.2;
    bottom: 200px;

}